.player-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 27.5%;
    margin: 2rem 0 2rem 0;
    filter: grayscale(100%);
}

.player__pic {
    position: relative;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: solid white;
    /* border-bottom: solid #FDB927; */
    border-top: solid transparent;
    border-left: solid transparent;
    border-right: solid transparent;
}

.player-cards:hover {
    filter: none;
    color: white;
}

.player__pic--image {
    width: 100%;
}

.btn__view-stats {
    /* position: absolute;
    top: 0;
    left: 0; */
    cursor: pointer;
    text-align: center;
    padding: 0.75rem;
    /* font-size: 1rem; */
    border: none;
    background-color: var(--lakers-gold);
    border: none;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.player__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player__info--name {
    padding: 0.25rem;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    letter-spacing: 0.15rem;
    word-spacing: 1.15rem;
    /* color:var(--lakers-gold); */
}





