@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.home-pic {
    /* background-color: #FDB927; */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    height: 90vh;
}

.home-pic .lakers-duo {
    position: absolute;
    /* filter: grayscale(100%) brightness(0.9); */
    /* filter: brightness(0.95); */
    /* opacity: 0.9; */
    /* height: 100vh; */
    width: 35%;
    z-index: 2;
    background: transparent;
    left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
}

.home-pic .lakers-logo {
    /* outline: solid red; */
    width: 100%;
    /* opacity: 0.15; */
    /* filter: grayscale(70%); */
    /* height: 80%; */
}

#span-cont {
    /* outline: solid red; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem 0 3rem;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 9rem;
    letter-spacing: 2rem;
    z-index: 1;
}

#span-cont p{
    /* outline: solid red; */
    padding: 1.5rem;
    width: 100%;
    /* letter-spacing: 1rem; */
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: transparent;
    height: 90%;
    /* word-spacing: 10rem; */
    /* text-decoration: underline white double 4px; */
}

.span-year {
    /* outline: solid red; */
    text-align: left;
    /* border-bottom: solid #FDB927; */
        /* -webkit-text-stroke: 2px;
            -webkit-text-fill-color: transparent; */
    text-shadow: 5px 5px 0px #FDB927
}

.span-city {
    text-align: center;
    text-shadow: 5px 5px 0px white
}

.span-team {
    /* color: transparent; */
    text-align: center;
    display: flex;
    /* align-items: end; */
    justify-content: end;
    /* letter-spacing: 10rem; */
    /* font-size: 12rem; */
    /* border-bottom: solid white; */
    text-shadow: 5px 5px 0px #FDB927
        /* text-shadow: 5px 5px 0px #552583 */
                /* 10px 10px 0px #552583 */
                /* 15px 15px 0px #46b59b,
                20px 20px 0px #017e7f,
                25px 25px 0px #052939,
                30px 30px 0px #c11a2b,
                35px 35px 0px #c11a2b,
                40px 40px 0px #c11a2b,
                45px 45px 0px #c11a2b; */
}








