.modal {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
}

.modal__player {
    position: relative;
    display: flex;
    width: 50%;
}

.player__img {
    bottom: 0;
    width: 90%;
    min-width: 90%;
}

.modal__about {
    width: 50%;
}

.modal__about > div {
    /* height: 33%; */
}

.modal__bio {
    display: flex;
    justify-content: center;
    align-items: end;
}

@media (max-width: 950px) {
    .modal {
        display: flex;
        flex-direction: column;
     
    }

    .modal__player, .modal__about {
        width: 100%;
        max-width: 450px;
    }


    .player__img {
        width: 100%;
        bottom: 0;

    }

    .modal__player {
       width: 100%;
    }

}





