.modal {
    position: relative;
    display: flex;
    width: 100%;
}

.modal__player {
    display: flex;
    width: 60%;
}

.player__img {
    /* width: 70%; */
}

.modal__about {
    width: 40%;
    /* color: #767676; */
}

.modal__about > div {
    height: 33%;
}

.modal__bio {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1250px) {
    
}




