.modal {
    /* position: relative; */
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

.modal__player {
    position: relative;
    display: flex;
    width: 50%;
}

.player__img {
    position: absolute;
    height: auto;
    bottom: 0;
    width: 90%;
    min-width: 90%;
}

.modal__about {
    width: 50%;
}

.modal__about > div {
    height: 33%;
}

.modal__bio {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 950px) {


    .modal {
        /* outline: solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* max-height: calc(100vh - 210px);
        overflow-y: auto;     */
        height: 100%;
        padding-top: 30rem;
    }

    .player__img {
        width: 70%;
        min-width: 50%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modal__player {
       width: 100%;
    }
    
    .modal__about>div {
        height: auto;
    }
}




