.schedule-cards {
    width: 100%;
    color: white;
    filter: grayscale(100%);
    cursor: pointer;
}

.schedule-cards:hover {
    filter: none;
}

.schedule-cards > p {
    text-align: center;
    width: 100%;
}

.mini-box-score {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mini-box-score img {
    width: 75%;
}

.mini-score {
    display: flex;
    text-align: center;
    gap: 1rem;
}

.mini-box-score > button {
    background-color: var(--lakers-gold);
    color: black;
    border: none;
    border-radius: 20px;
    padding: 0.3rem;
    cursor: pointer;
}

@media (max-width: 750px) {
    .mini-box-score {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .mini-box-score > img {
        width: 40%;
    }
}


