.box-score {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #767676;
}

.box-score__teams {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-score__teams > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    color: white;
}

.box-score button {
    background-color: var(--lakers-gold);
        color: black;
        border: none;
        border-radius: 20px;
        padding: 0.5rem;
        cursor: pointer;
}