.sidebar {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar > p {
    border-bottom: solid #FDB927 2px;
    margin-bottom: 1rem;
}

@media (max-width: 950px) {
    .sidebar {
        /* display: none; */
        /* position: absolute; */
        /* bottom: 0;
        right: 0;
        display: flex;
        flex-direction: row; */
    }

}