.sidebar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    bottom: 0;
    /* gap: 0.5rem; */
}

.sidebar > p {
    text-decoration: underline #FDB927 2px;
}

@media (max-width: 950px) {
    .sidebar {

    }

}