.schedule {
    width: 100%;
}

.schedule>h1 {
    color: var(--lakers-gold);
}

.schedule>p {
    color: #767676
}

.box-score__modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem 0 3rem;
    width: 100%;
    height: 100vh;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    background-color: black;
}

.box-score__modal > button {
        cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 2rem;
            padding: 1rem;
            background-color: black;
            color: white;
            border: none;
}