.stats-modal {
    position: relative;
    display: flex;
    width: 100%;
}

.stats-modal > div {
    /* width: 50%; */
}

.player-cont {
    display: flex;
    width: 60%;
}

.stats {
    width: 20%;
}

.player-img {
    width: 70%;
}

.player-about {
    width: 40%;
}

.player-about > div {
    height: 33%;
    /* outline: solid red; */
}




