.day-cards {
    border-bottom: solid white 2px;
    border-top: solid transparent 2px;
    border-left: solid transparent 2px;
    border-right: solid transparent 2px;
    color: #767676;
    min-width: 20%;
}

.day-cards--empty {
    color: white;
    border: none;
    border-bottom: solid #767676 1px;
    color: #767676;
    min-width: 20%;
}

.day-cards, .day-cards--empty {
    height: 15rem;
    width: 100%;
    margin: 0.25rem;
}

.empty-cards {
    color: white;
    width: 100%;
}

.day-cards > p, .day-cards--empty > p {
    position: absolute;
}

@media (max-width: 750px) {
    .day-cards--empty {
        display: none;
    }
}


