.month {
    width: 100%;
    color: white;
    margin-bottom: 3rem;
}

.month__days {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: #767676;
    font-size: 1.15rem;
}

.month__days p {
    /* text-align: center; */
}

.month__day-cards {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.month > h2 {
    color: white;
    text-decoration: underline var(--lakers-gold);
    /* border-bottom: solid var(--lakers-gold) 1px; */
}

@media (max-width: 750px) {
    .month__days {
        display: none;
    }

    .month__day-cards {
        display: flex;
        flex-direction: column;
    }
}
